body {
    margin: 0;
    font-family: Arial, sans-serif;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fc0505;
    padding: 10px 20px;
  }

  .logo {
    color: white;
    font-size: 20px;
    font-weight: bold;
  }

  .right-menu {
    display: flex;
    align-items: center;
  }

  .dropdown {
    position: relative;
  }

  .dropbtn {
    font-size: 16px;
    color: white;
    background-color: inherit;
    border: none;
    cursor: pointer;
    padding: 10px 16px;
    border-radius: 15px;
  }

  .dropbtn:hover {
    background-color: #ffa200;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #ddd;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }