* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Arial", sans-serif;
    background-color: #f9f9f9;
}

header {
    background-color: #4caf50;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.product-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 100px auto;
    padding: 15px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-image {
    width: 400px;
    height: 400px;
}

.product-image img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.product-details {
    flex: 1;
    padding: 30px;
}

.product-title {
    margin-bottom: 10px;
    font-weight: bold;
}

.product-category {
    font-size: 15px;
    color: #777;
    margin-bottom: 10px;
}

.product-price {
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #27ae60;
}

.product-description {
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 25px;
}

.remove-product {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.remove-product:hover {
    background-color: darkred;
}