.product-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.product-card {
    background-color: white;
    width: 250px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
    cursor: pointer;
}

.product-card:hover {
    transform: translateY(-5px);
}

.product-info {
    padding: 15px;
}

.product-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.product-price {
    font-size: 1.1em;
    color: rgb(208, 147, 33);
}