.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.navLinks {
    list-style: none;
    display: flex;
}

.navLinks li {
    margin: 0 15px;
}

.navLinks a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.navLinks a:hover {
    color: #ff6347;
}

.wishlist .heartIcon {
    font-size: 1.5rem;
    color: white;
}

.wishlist .heartIcon:hover {
    color: #ff6347;
}